{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
    <div class="{{ particle.class|e }} g-owlcarousel-carousel">

        {% if particle.title or particle.description or particle.nav == 'enabled' %}
        <div class="g-owlcarousel-carousel-header">
            {% if particle.title or particle.nav == 'enabled' %}
                <div class="g-owlcarousel-carousel-title-container">
                    {% if particle.title %}
                        <div class="g-owlcarousel-carousel-title">
                            {{ particle.title|raw }}
                        </div>
                    {% endif %}

                    {% if particle.nav == 'enabled' %}
                        <div class="g-owlcarousel-carousel-controls" id="g-owlcarousel-carousel-controls-{{ id }}"></div>
                    {% endif %}
                </div>
            {% endif %}

            {% if particle.description %}
                <div class="g-owlcarousel-carousel-description">
                    {{ particle.description|raw }}
                </div>
            {% endif %}
        </div>
        {% endif %}

        <div id="g-carousel-{{ id }}" class="g-carousel owl-carousel">

            {% if particle.source == 'grav' %}

                {# Load Content From Grav #}
                {% set attr_extra = particle.extra|attribute_array %}
                {% set article_settings = particle.article %}
                {% set filter = article_settings.filter %}
                {% set sort = article_settings.sort %}
                {% set limit = article_settings.limit %}
                {% set start = limit.start %}
                {% set display = article_settings.display %}
                {% set collection = grav.page.collection(
                    {
                        items: {'@taxonomy.category': filter.categories|split(' ')},
                        order: {by: sort.orderby, dir: sort.ordering},
                        url_taxonomy_filters: false
                    },
                    false) %}
                {% set total = collection.count() %}
                {% set pages = collection.slice(start, limit.total) %}

                {% for page in pages %}
                    <div class="g-carousel-item">
                        <a class="g-carousel-link" href="{{ page.url|e }}"></a>

                        {% if display.title.enabled %}
                            <span class="g-carousel-title">{{ (display.title.limit ? page.title|e|truncate_text(display.title.limit) : page.title|e)|raw }}</span>
                        {% endif %}

                        {% if display.text.type %}
                            {% set page_text = display.text.type == 'intro' ? page.summary : page.content %}
                            <span class="g-carousel-description">
                                {% if display.text.formatting == 'text' %}
                                    {{ page_text|truncate_text(display.text.limit)|raw }}
                                {% else %}
                                    {{ page_text|truncate_html(display.text.limit)|raw }}
                                {% endif %}
                            </span>
                        {% endif %}

                        {% if display.readmore %}
                            <span class="g-carousel-readmore">{{ display.readmore }}</span>
                        {% endif %}
                    </div>
                {% endfor %}

            {% else %}

                {# Particle Content #}
                {% for item in particle.items %}
                    <div class="g-carousel-item">
                        {% if item.link is not empty %}
                            <a class="g-carousel-link" href="{{ url(item.link)|e }}" target="{{ item.linktarget|default('_self')|e }}"></a>
                        {% endif %}

                        {% if item.icon %}
                            <span class="g-carousel-image-icon">
                                <i class="{{ item.icon|e }}"></i>
                            </span>
                        {% endif %}

                        {% if item.title %}
                            <span class="g-carousel-title">{{ item.title|raw }}</span>
                        {% endif %}

                        {% if item.description %}
                            <span class="g-carousel-description">{{ item.description|raw }}</span>
                        {% endif %}

                        {% if item.readmore %}
                            <span class="g-carousel-readmore">{{ item.readmore }}</span>
                        {% endif %}
                    </div>
                {% endfor %}

            {% endif %}

        </div>
    </div>

{% endblock %}

{% block javascript_footer %}
    <script src="{{ url('gantry-theme://js/owlcarousel.js') }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            var owl{{ id|replace({'-':'_'}) }} = jQuery('#g-carousel-{{ id }}');
            owl{{ id|replace({'-':'_'}) }}.owlCarousel({
                items: {{ particle.displayitems }},
                center: true,
                rtl: {% if gantry.page.direction == 'rtl' %}true{% else %}false{% endif %},
                {% if particle.animateOut and particle.animateOut != 'default' %}
                animateOut: '{{ particle.animateOut|default('fadeOut')|e }}',
                {% endif %}
                {% if particle.animateIn and particle.animateIn != 'default' %}
                animateIn: '{{ particle.animateIn|default('fadeIn')|e }}',
                {% endif %}
                {% if particle.nav == 'enabled' %}
                nav: true,
                navText: ['{{ particle.prevText|default('<i class="fa fa-chevron-left"></i>')|e('js') }}', '{{ particle.nextText|default('<i class="fa fa-chevron-right"></i>')|e('js') }}'],
                navContainer: '#g-owlcarousel-carousel-controls-{{ id }}',
                {% else %}
                nav: false,
                {% endif %}
                dots: false,
                loop: {% if particle.loop == 'enabled' %}true{% else %}false{% endif %},
                {% if particle.autoplay == 'enabled' %}
                autoplay: true,
                autoplayTimeout: {{ particle.autoplaySpeed|default('5000') }},
                {% if particle.pauseOnHover == 'enabled' %}
                autoplayHoverPause: true,
                {% else %}
                autoplayHoverPause: false,
                {% endif %}
                {% else %}
                autoplay: false,
                {% endif %}
                responsive:{
                    0: {
                        items: 1,
                    },
                    650: {
                        items: 2,
                    },
                    800: {
                        items: 3,
                    },
                    1200: {
                        items: 4,
                    },
                    1400: {
                        items: {{ particle.displayitems }},
                    }
                },
            })
        });
    </script>
{% endblock %}
