{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
    <div id="{{ id }}" class="g-panelslider {{ particle.class|e }}" data-panelslider-id="{{ id }}" data-panelslider-items="{{ particle.displayitems }}" data-panelslider-nav="{{ particle.nav == 'enabled' ? 'true' : 'false' }}" data-panelslider-rtl="{% if gantry.page.direction == 'rtl' %}true{% else %}false{% endif %}">
        {% if particle.title %}<h2 class="g-title">{{ particle.title|raw }}</h2>{% endif %}

        <div class="g-panelslider-slides g-owlcarousel owl-carousel" data-panelslider-slides-id="{{ id }}">
            {% if particle.source == 'grav' %}

                {# Load Content From Grav #}
                {% set attr_extra = particle.extra|attribute_array %}
                {% set article_settings = particle.article %}
                {% set filter = article_settings.filter %}
                {% set sort = article_settings.sort %}
                {% set limit = article_settings.limit %}
                {% set start = limit.start %}
                {% set display = article_settings.display %}
                {% set collection = grav.page.collection(
                    {
                        items: {'@taxonomy.category': filter.categories|split(' ')},
                        order: {by: sort.orderby, dir: sort.ordering},
                        url_taxonomy_filters: false
                    },
                false) %}
                {% set total = collection.count() %}
                {% set pages = collection.slice(start, limit.total) %}

                {% for page in pages %}
                    <div class="panel">
                        <div class="g-panelslider-slides-content-wrapper">
                            {% if display.date.enabled or display.title.enabled %}
                                <div class="g-panelslider-slides-title-wrapper">
                                    {% if display.date.enabled %}
                                        <div class="g-panelslider-slides-title-topline">
                                            {% if display.date.enabled == 'published' %}
                                                {{ page.publishDate()|date(display.date.format) }}
                                            {% elseif display.date.enabled == 'modified' %}
                                                {{ page.modified|date(display.date.format) }}
                                            {% else %}
                                                {{ page.date|date(display.date.format) }}
                                            {% endif %}
                                        </div>
                                    {% endif %}

                                    {% if display.title.enabled %}
                                        <div class="g-panelslider-slides-title">
                                            {{ (display.title.limit ? page.title|e|truncate_text(display.title.limit) : page.title|e)|raw }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}

                            {% if display.text.type %}
                                {% set page_text = display.text.type == 'intro' ? page.summary : page.content %}
                                <div class="g-panelslider-slides-description">
                                    <div class="g-panelslider-slides-description-content">
                                        {% if display.text.formatting == 'text' %}
                                            {{ page_text|truncate_text(display.text.limit)|raw }}
                                        {% else %}
                                            {{ page_text|truncate_html(display.text.limit)|raw }}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>

                        {% if display.read_more.enabled %}
                            <div class="g-panelslider-panel-link">
                                <a class="button button-3 button-white {{ display.read_more.css }}" href="{{ page.url }}">{{ display.read_more.label|default('Read More...') }}</a>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

            {% else %}

                {% for item in particle.items %}
                    <div class="panel">
                        <div class="g-panelslider-slides-content-wrapper">
                            {% if item.topline or item.title %}
                            <div class="g-panelslider-slides-title-wrapper">
                                {% if item.topline %}
                                    <div class="g-panelslider-slides-title-topline">
                                        {{ item.topline|raw }}
                                    </div>
                                {% endif %}

                                {% if item.title %}
                                    <div class="g-panelslider-slides-title">
                                        {{ item.title|raw }}
                                    </div>
                                {% endif %}
                            </div>
                            {% endif %}

                            <div class="g-panelslider-slides-description">
                                <div class="g-panelslider-slides-description-content">
                                    {{ item.description|raw }}
                                </div>
                            </div>
                        </div>

                        {% if item.link is not empty %}
                            <div class="g-panelslider-panel-link">
                                <a class="button button-3 button-white" href="{{ url(item.link)|e }}" target="{{ item.linktarget|default('_self')|e }}">{{ item.linklabel|default('Read more')|e }}</a>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

            {% endif %}
        </div>

        <div class="g-panelslider-carousel g-owlcarousel owl-carousel" data-panelslider-carousel-id="{{ id }}">
            {% if particle.source == 'grav' %}

                {% for page in pages %}
                    <div class="tab">
                        {% if display.image.enabled %}
                            {% if display.image.enabled == 'intro' %}
                                {% set file = page.header.image.summary.enabled|defined(false) ? (page.header.image.summary.file ?: true) %}
                            {% elseif display.image.enabled == 'full' %}
                                {% set file = page.header.image.text.enabled|defined(false) ? (page.header.image.text.file ?: true) %}
                            {% endif %}

                            {% set image = file is same as(true) ? page.media.images|first : (file ? page.media.images[file]) %}

                            <img src="{{ image.url }}" alt="{{ page.title|e }}">
                        {% endif %}

                        {% if display.title.enabled %}
                            <div class="g-panelslider-carousel-title">
                                {{ (display.title.limit ? page.title|e|truncate_text(display.title.limit) : page.title|e)|raw }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

            {% else %}

                {% for panel in particle.items %}
                    <div class="tab">
                        {% if panel.image %}
                            <img src="{{ url(panel.image)|e }}" alt="{{ panel.title|e }}">
                        {% endif %}

                        {% if panel.title %}
                            <div class="g-panelslider-carousel-title">
                                {{ panel.title|raw }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

            {% endif %}
        </div>
    </div>
{% endblock %}


{% block javascript_footer %}
{% do gantry.load('jquery') %}
{% do gantry.document.addScript(url('gantry-theme://js/owlcarousel.js'), 10, 'footer') %}
<script src="{{ url('gantry-theme://js/panelslider.init.js') }}"></script>
{% endblock %}
