{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
<div class="{{ particle.class|e }} g-owlcarousel-testimonials">

    {% if particle.title %}<h2 class="g-title">{{ particle.title|raw }}</h2>{% endif %}

    <div id="g-testimonials-{{ id }}" class="g-testimonials owl-carousel" data-testimonials-carousel-nav="{{ particle.nav == 'enabled' ? 'true' : 'false' }}">

        {% for item in particle.items %}
        <div class="g-testimonial">

            {% if item.testimonial %}
            <div class="g-testimonial-text">{{ item.testimonial|raw }}</div>
            {% endif %}

            <div class="g-testimonial-info">
                {% if item.image %}
                <img src="{{ url(item.image)|e }}" alt="{{ item.author|e }}" />
                {% endif %}

                {% if item.author %}
                <div class="g-testimonial-author">
                    {{ item.author|raw }}

                    {% if item.position %}
                    <div class="g-testimonial-position">{{ item.position|raw }}</div>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}

{% block javascript_footer %}
<script src="{{ url('gantry-theme://js/owlcarousel.js') }}"></script>
<script type="text/javascript">
jQuery(document).ready(function () {
    var owl{{ id|replace({'-':'_'}) }} = jQuery('#g-testimonials-{{ id }}');
    owl{{ id|replace({'-':'_'}) }}.owlCarousel({
        items: 1,
        rtl: {% if gantry.page.direction == 'rtl' %}true{% else %}false{% endif %},
        {% if particle.animateOut and particle.animateOut != 'default' %}
        animateOut: '{{ particle.animateOut|default('fadeOut')|e }}',
        {% endif %}
        {% if particle.animateIn and particle.animateIn != 'default' %}
        animateIn: '{{ particle.animateIn|default('fadeIn')|e }}',
        {% endif %}
        {% if particle.nav == 'enabled' %}
        nav: true,
        navText: ['{{ particle.prevText|default('<i class="fa fa-chevron-left"></i>')|e('js') }}', '{{ particle.nextText|default('<i class="fa fa-chevron-right"></i>')|e('js') }}'],
        {% else %}
        nav: false,
        {% endif %}
        {% if particle.dots == 'enabled' %}
        dots: true,
        {% else %}
        dots: false,
        {% endif %}
        loop: {% if particle.loop == 'enabled' %}true{% else %}false{% endif %},
        {% if particle.autoplay == 'enabled' %}
        autoplay: true,
        autoplayTimeout: {{ particle.autoplaySpeed|default('5000') }},
        {% if particle.pauseOnHover == 'enabled' %}
        autoplayHoverPause: true,
        {% else %}
        autoplayHoverPause: false,
        {% endif %}
        {% else %}
        autoplay: false,
        {% endif %}
    })
});
</script>

{% endblock %}
