{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
    <div id="{{ id }}" class="g-verticalslider {{ particle.class|e }}" data-verticalslider-id="{{ id }}" {% if particle.presets == 'enabled' %}data-verticalslider-presets="{{ gantry.theme.preset|default('preset1')|replace({'preset':''}) - 1 }}"{% endif %}  data-verticalslider-height="{{ particle.height }}" data-verticalslider-mobileheight="{{ particle.mobileheight }}" data-verticalslider-speed="{{ particle.speed }}" data-verticalslider-rtl="{% if gantry.page.direction == 'rtl' %}true{% else %}false{% endif %}" data-verticalslider-auto="{% if particle.auto == 'enabled' %}true{% else %}false{% endif %}" data-verticalslider-pause="{{ particle.pause|default('2000') }}" data-verticalslider-loop="{% if particle.loop == 'enabled' %}true{% else %}false{% endif %}" data-verticalslider-controls="{% if particle.controls == 'enabled' %}true{% else %}false{% endif %}" data-verticalslider-pager="{% if particle.pager == 'enabled' %}true{% else %}false{% endif %}" data-verticalslider-mobile="{{ gantry.config.get('styles.breakpoints.mobile-menu-breakpoint')|default('51rem') }}">
        {% if particle.title %}<h2 class="g-title">{{ particle.title|raw }}</h2>{% endif %}

        <ul>
            {% if particle.source == 'grav' %}

                {# Load Content From Grav #}
                {% set attr_extra = particle.extra|attribute_array %}
                {% set article_settings = particle.article %}
                {% set filter = article_settings.filter %}
                {% set sort = article_settings.sort %}
                {% set limit = article_settings.limit %}
                {% set start = limit.start %}
                {% set display = article_settings.display %}
                {% set collection = grav.page.collection(
                    {
                        items: {'@taxonomy.category': filter.categories|split(' ')},
                        order: {by: sort.orderby, dir: sort.ordering},
                        url_taxonomy_filters: false
                    },
                    false) %}
                {% set total = collection.count() %}
                {% set pages = collection.slice(start, limit.total) %}

                {% for page in pages %}
                    {% if display.image.enabled %}
                        {% if display.image.enabled == 'intro' %}
                            {% set file = page.header.image.summary.enabled|defined(false) ? (page.header.image.summary.file ?: true) %}
                        {% elseif display.image.enabled == 'full' %}
                            {% set file = page.header.image.text.enabled|defined(false) ? (page.header.image.text.file ?: true) %}
                        {% endif %}

                        {% set image = file is same as(true) ? page.media.images|first : (file ? page.media.images[file]) %}
                    {% endif %}

                    <li data-thumb="{{ image.url }}" class="g-verticalslider-item" style="background-image: url({{ image.url }});">
                        <div class="g-verticalslider-content">
                            {% if display.title.enabled and post.title %}<h1>{{ (display.title.limit ? page.title|e|truncate_text(display.title.limit) : page.title|e)|raw }}</h1>{% endif %}
                            {% if display.text.type %}
                                {% set page_text = display.text.type == 'intro' ? page.summary : page.content %}
                                <p>
                                    {% if display.text.formatting == 'text' %}
                                        {{ page_text|truncate_text(display.text.limit)|raw }}
                                    {% else %}
                                        {{ page_text|truncate_html(display.text.limit)|raw }}
                                    {% endif %}
                                </p>
                            {% endif %}
                            {% if display.read_more.enabled %}
                                <a href="{{ page.url }}" title="{{ page.title|e }}" class="button {{ display.read_more.css }}">{{ display.read_more.label|default('Read More...') }}</a>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}

            {% else %}

                {# Particle Content #}
                {% for item in particle.items %}
                    <li data-thumb="{{ url(item.image) }}" class="g-verticalslider-item" style="background-image: url({{ url(item.image)|e }});">
                        <div class="g-verticalslider-content">
                            {% if item.small_title %}<span>{{ item.small_title|raw }}</span>{% endif %}

                            {% if item.title %}<h1>{{ item.title }}</h1>{% endif %}
                            {% if item.desc %}<p>{{ item.desc|raw }}</p>{% endif %}
                            {% if item.buttontext %}
                                <a target="{{ item.buttontarget|default('_self')|e }}" href="{{ item.buttonlink|e }}" title="{{ item.buttontext|e }}" class="button {{ item.buttonclass|e }}">{{ item.buttontext|e }}</a>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}

            {% endif %}
        </ul>
    </div>
{% endblock %}

{% block javascript_footer %}
{% do gantry.load('jquery') %}
{% do gantry.document.addScript(url('gantry-theme://js/length.min.js'), 10, 'footer') %}
{% do gantry.document.addScript(url('gantry-theme://js/lightslider.js'), 10, 'footer') %}
{% do gantry.document.addScript(url('gantry-theme://js/tooltips.js'), 10, 'footer') %}
{% do gantry.document.addScript(url('gantry-theme://js/verticalslider.init.js'), 9, 'footer') %}
{% endblock %}
