#g-above {
    color: $above-text-color;
    background: $above-background;

    .g-simplecontent-item-content-title {
        @include responsive-font($responsive-font-size + 2.5, $core-font-size + 0.8, false, false);
    }

    .g-simplecontent-item-leading-content {
        color: transparentize($above-text-color, 0.7);
    }
}

@media print {
    #g-above {
        background: #fff !important;
        color: #000 !important;
    }
}
