#g-bottom {
    position: relative;
    background: $bottom-background;
    color: $bottom-text-color;
}

@media print {
    #g-bottom {
        background: #fff !important;
        color: #000 !important;
    }
}
