#g-showcase {
    color: $showcase-text-color;
    background: $showcase-background;
    position: relative;

    .g-infolist-title {
        @include responsive-font($responsive-font-size + 2.5, $core-font-size + 0.8, false, false);
        color: $black;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .g-infolist-desc {
        @include responsive-font($responsive-font-size + 0.6, $core-font-size + 0.3, false, false);
        padding-bottom: $content-padding;
        @include breakpoint(mobile-only) {
          padding-bottom: 0;
        }
    }
    .g-infolist-item-title  {
        color: $black;
    }
    .g-infolist {
        margin: -$content-padding;
        @include breakpoint(mobile-only) {
          margin: 0;
        }
    }
}

@media print {
    #g-showcase {
        background: #fff !important;
        color: #000 !important;
    }
}
