#g-utility {
    color: $utility-text-color;
    background: $utility-background;
    position: relative;
}

@media print {
    #g-utility {
        background: #fff !important;
        color: #000 !important;
    }
}
