.g-logo {
    font-weight: $font-weight-bold;
    @include responsive-font($responsive-font-size + 0.5, $core-font-size + 1, false, false);
    line-height: $core-line-height;
    box-shadow: none !important;

    @include breakpoint(mobile-only) {
        text-align: center;
        display: block;
        position: relative;
        z-index: 1;
    }

    img {
        .dir-rtl & {
            padding-right: 0;
            padding-left: 1rem;
        }
    }
}
