// Styling
.g-pricingtable-headertext {
    margin-bottom: ($content-margin + $content-padding) * 2;
    padding: 0 25%;
    color: fadeout($white, 25%);
    @include responsive-font($responsive-font-size + 0.6, $core-font-size + 0.3, false, false);
    @include breakpoint(large-desktop-range) {
        margin-bottom: ($content-margin + $content-padding) * 3.5;
    }

    @include breakpoint(mobile-only) {
        padding: 0 5%;
    }
}

.g-pricingtable-footertext {
    margin-top: ($content-margin + $content-padding) * 2;
    padding: 0 20%;
    color: fadeout($white, 50%);
    font-size: $core-font-size + 0.25;

    @include breakpoint(large-desktop-range) {
        margin-top: ($content-margin + $content-padding) * 3.5;
    }

    @include breakpoint(mobile-only) {
        padding: 0 5%;
    }
}

.g-pricingtable-container {
    @include display(flex);
    @include flex-flow(row);
    @include flex-wrap(wrap);
}

.g-pricingtable-col-item {
    @include display(flex);
    padding: $content-margin;
    overflow: auto;
    z-index: 1;

    .g-pricingtable-1-col & {
        @include flex(auto 1 100%);
        width: 100%;
    }

    .g-pricingtable-2-col & {
        @include flex(auto 1 50%);
        width: 50%;
    }

    .g-pricingtable-3-col & {
        @include flex(auto 1 33.33333%);
        width: 33.33333%;
    }

    .g-pricingtable-4-col & {
        @include flex(auto 1 25%);
        width: 25%;

        @include breakpoint(desktop-range) {
            @include flex(auto 1 50%);
            width: 50%;
        }

        @include breakpoint(tablet-range) {
            @include flex(auto 1 50%);
            width: 50%;
        }
    }

    .g-pricingtable-5-col & {
        @include flex(auto 1 20%);
        width: 20%;
    }

    .g-pricingtable-6-col & {
        @include flex(auto 1 16.66667%);
        width: 16.66667%;
    }

    @include breakpoint(mobile-only) {
        @include flex(auto 1 100% !important);
        width: 100% !important;
    }

    .g-pricingtable {
        width: 100%;
        margin: 0;
        position: relative;
        overflow: hidden;
        list-style: none;
        padding: $content-padding;
        color: $black;
        background: $white;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 1px 10px fadeout($black, 80%);

        .button {
            @extend %g-button;
            margin: $content-padding 0;
        }

        .g-pricingtable-ribbon {
            z-index: 2;
            position: absolute;
            line-height: $core-line-height + 0.75;
            font-size: $core-font-size - 0.1;
            font-weight: $font-weight-bold;
            color: $white;
            background: $accent-color-1;
            width: 135px;
            top: 20px;
            left: -33px;
            text-align: center;
            letter-spacing: 1px;
            @include transform(rotate(-45deg));
        }

        .g-pricingtable-icon {
            font-size: $core-font-size + 3;
        }

        .g-pricingtable-plan {
            padding: $content-padding 0 0;
            @include responsive-font($responsive-font-size + 0.4, $core-font-size + 0.1, false, false);
            font-weight: $font-weight-regular;
            color: $black;

            a {
                color: $black;

                &:hover {
                    color: $accent-color-1;
                }
            }
        }

        .g-pricingtable-subtitle {
            padding-top: 0;
            margin-top: -1rem;
            font-size: $core-font-size - 0.1;
        }

        .g-pricingtable-price {
            padding: 0 0 $content-padding;
            font-weight: $font-weight-bold;
            @include responsive-font($responsive-font-size + 1.5, $core-font-size + 1, false, false);
        }

        .g-pricingtable-period {
            font-size: $core-font-size + 0.3;
            font-weight: $font-weight-light;
            line-height: $core-line-height - 1;
        }

        .g-pricingtable-desc {
            font-size: $core-font-size + 0.25;
            padding: $content-padding 0;
        }

        .g-pricingtable-item {
            @include responsive-font($responsive-font-size + 0.2, $core-font-size, false, false);
            font-weight: $font-weight-regular;
            padding-bottom: $content-margin;

            &.g-pricingtable-item-0 {
                position: relative;
                padding-top: $content-padding;
            }

            &.disabled {
                color: lighten($black, 75%);
                text-decoration: line-through;
            }
        }
    }

    // Highlighted Table
    &.g-pricingtable-col-item-highlight {
        .g-pricingtable {
            background: $black;
            color: $white;

            .g-pricingtable-plan {
                color: $white;

                a {
                    color: $white;

                    &:hover {
                        color: $accent-color-1;
                    }
                }
            }

            .g-pricingtable-item {
                &.disabled {
                    color: darken($white, 75%);
                }
            }
        }
    }
}
