// Search Plugin
.g-search {
    @include breakpoint(mobile-only) {
        text-align: center;
    }

    input[type="text"],
    input[type="search"] {
        border-top: 0 none;
        border-left: 0 none;
        border-right: 0 none;
        border-width: 1px;
        border-radius: 0;
        padding-left: 1.5rem;
        background: transparent;
        margin-bottom: 0;
    }
    input::-webkit-input-placeholder {
        color: #b5bdc5;
    }

    form {
        position: relative;
        margin: 0;

        &:before {
            content: "\f002";
            position: absolute;
            left: 0;
            width: 20px;
            height: 20px;
            top: 30%;
            font: normal normal normal 16px/1 FontAwesome;

            .dir-rtl & {
                left: auto;
                right: 0;
            }
        }
    }

    // Hide Search Field
    .g-search-lightcase {
        display: none;
    }
}
