.g-social {
        line-height: normal;
    a {
        color: $accent-color-1;
        font-size: $core-font-size + 0.5;
        border-radius: 2px;

        &:hover {
            color: $accent-color-2;
        }
    }
    .fa-fw {
        text-align: left;
    }
}
