// Basics
$white:							#ffffff;
$black:							#000000;
$off-white:						#f7f7f7;
$grey: 							#95a5a6;
$darkgrey: 						#282828;
$pink: 							#d13b7b;
$red: 							#ef4a44;
$purple: 						#874f9a;
$blue: 							#279fba;
$orange: 						#ee7933;

// Base
$base-background:				#ff4b64 !default;
$base-text-color:				#666666 !default;
$base-text-active-color:		#31a594 !default;
$base-border-color:				#e7e8ea !default;

// Accents
$accent-color-1:				#ff4b64 !default;
$accent-color-2:				#31a594 !default;
$accent-color-3:				#508b70 !default;

// Menu Style
$menustyle-text-color:                  #ffffff !default;
$menustyle-text-color-alt:                  #8e9dab !default;
$menustyle-text-color-active:           #ffffff !default;
$menustyle-background-active:           rgba(255,255,255, 0) !default;
$menustyle-sublevel-text-color:         #000000 !default;
$menustyle-sublevel-text-color-active:  #31a594 !default;
$menustyle-sublevel-background:         #ffffff !default;
$menustyle-sublevel-background-active:  #31a594 !default;

// Page Surround
$pagesurround-background: 		$base-background !default;

// Top
$top-background:				#ffffff !default;
$top-text-color:				#ffffff !default;

// Navigation
$navigation-background:			#0d0d0d !default;
$navigation-text-color:			#ffffff !default;

// Slideshow
$slideshow-background:			#0d0d0d !default;
$slideshow-background-image:		false !default;
$slideshow-text-color:			#ffffff !default;

// Header
$header-background:				#ffffff !default;
$header-text-color:				#666666 !default;

// Above
$above-background:				#ffffff !default;
$above-text-color:				#666666 !default;

// Showcase
$showcase-background:			#ffffff !default;
$showcase-text-color:			#666666 !default;

// Utility
$utility-background:			#ffffff !default;
$utility-text-color:			#666666 !default;

// Feature
$feature-background:			#ffffff !default;
$feature-text-color:			#666666 !default;

// Main
$main-background:				#ffffff !default;
$main-text-color:				#666666 !default;

// Expanded
$expanded-background:			#ffffff !default;
$expanded-text-color:			#666666 !default;

// Extension
$extension-background:			#ffffff !default;
$extension-text-color:			#666666 !default;

// Bottom
$bottom-background:			#0d0d0d !default;
$bottom-text-color:				#ffffff !default;

// Footer
$footer-background:				#eaf6f4 !default;
$footer-text-color:				#50818b !default;

// Copyright
$copyright-background:			#eaf6f4 !default;
$copyright-text-color:			#50818b !default;

// Off Canvas
$offcanvas-background:			#ff4b64 !default;
$offcanvas-text-color:			#ffffff !default;
$offcanvas-toggle-color:		#ffffff !default;

// Block Variations
$box1-background:				$accent-color-1 !default;
$box2-background:				$accent-color-2 !default;
$box3-background:				$black !default;
$box4-background:				darken($base-background, 5%) !default;
$box-white-background: 			$white !default;
$box-grey-background: 			$grey !default;
$box-darkgrey-background: 		$darkgrey !default;
$box-pink-background: 			$pink !default;
$box-red-background: 			$red !default;
$box-purple-background: 		$purple !default;
$box-blue-background: 			$blue !default;
$box-orange-background: 		$orange !default;

// System Messsages and Alerts
$warning-color:					#c09853;
$error-color:					#b94a48;
$info-color:					#3a87ad;
$success-color:					#468847;

// Typography
$rule-color:					fadeout($base-border-color, 75%);
$code-text:						#c7254e;
$code-bg:						#f9f2f4;
$pre-text:						#237794;
$pre-bg:						#f6f6f6;

// Borders
$border-color-hover:			$accent-color-1;
$border-color-focus:			$accent-color-1;
$border-color-light:            rgba(0, 0, 0, 0.1);

// Shadows
$base-box-shadow: 				inset 0 1px 3px hsla(0, 0%, 0%, 0.06);
$base-content-shadow:			2px 1px 15px rgba(0, 0, 0, 0.05);
